
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --green:#16a085;
    --black:#444;
    --light-color:#0f7c7c;
    --box-shadow:.5rem .5rem 0 rgba(22,160,133,.2);
    --text-shadow:4px 5px 2px rgba(0,0,0,.2);
    --border:.2rem solid #0f80ee;
}

*{
    margin:0;
    padding:0;
    border:none;
    outline:none;
    box-sizing:border-box;
    font-family: "Poppins", serif;
    transition:all 0.2s ease-out;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size:75%;
    overflow-x:hidden;
    scroll-padding-top: 7rem;
    scroll-behavior:smooth;

}



section{
    padding:2rem;/*setting image size*/
}


.button{
    display:inline-block;
    margin-left:1rem;
    padding-left:.5rem;
    border:var(--border);
    border-radius:.5rem;
    box-shadow:var(--box-shadow);
    color:var(--light-color);
    font-size:1.7rem;
    cursor:pointer;
}

.button span{
    padding:.7rem ;
    border-radius: .5rem;
    background:var(--light-color);
    color:#fff;
    margin:.5rem;
    
}

.button:hover {
    color:#fff;
    background-color:var(--light-color);
}

.button:hover span{
    color:var(--light-color);
    background-color:#fff ;
    margin-left:1rem;
}
.header{
padding:2rem ;
position:fixed;
top:0;left:0;right:0;
z-index:1000;
box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
display: flex;
align-items:center;
justify-content: space-between;
background:#fff;

}

.logo {
    font-size:2rem;
    color:var(--green);
    text-shadow:4px 4px 5px #419716 ;


}

.navbar a{
    font-size:  1.7rem;
    color:var(--light-color);
    margin-left:2rem;
    

}

.navbar a:hover{
    color:#3b7dee;
    background-color: #d2eeef;
}

#menu-button{
    font-size:2rem;
    border-radius:.5rem;
    background: #eee;
    padding:1rem 1.5rem;
    cursor:pointer;
    color:#0f80ee;
    display:none;
}


@media (max-width:991px){
    html{
        font-size:55%;
    }
    .header{
        padding:2rem;
    }
}

@media (max-width:750px){
  #menu-button {
    display:initial;/*below 750 button  get display*/
   }
   .navbar{
    position:absolute;
    top:115%;
    right:2rem;
    border-radius:.5rem;
    box-shadow:var(--box-shadow);
    border:var(--border);
    width:30rem;
    background:#fff;
    transform:scale(0);
    opacity:0;
    transform-origin: top right;
    transform:none;


   }
   .navbar a{
    font-size:2rem;
    display:block;
    margin:2.5rem;
     
   }
   .navbar.active{
    transform:scale(1);
    opacity:1;
    transition:.2s ease-out;

   }
}

@media (max-width:450px){
    html{
        font-size:50%;
    }
   
}


.home{
    display:flex;
    align-items:center;/*it hemp to move content right of img*/
    flex-wrap:wrap;
    gap:1.5rem;
    padding-top:7rem

}

img{
    width:100%;
}

.content h3{
    font-size:4.5rem;
    color:#0885ae;
    line-height:1.8;
    text-shadow:var(--text-shadow);

}

.content p{
    font-size:1.8rem;
    color:var(--light-color);
    line-height:1.8;
    text-shadow:2px 2px 2px silver;
    padding:1rem 0;

}

/*icon  section start*/

.icons-container{
display:grid;
gap:2rem;
grid-template-columns:repeat(auto-fit,minmax(20rem,1fr));
padding:5rem;

}

.icons{
    background:#f0f6f8 ;
    border:var(--border);
    box-shadow:var(--box-shadow);
    border-radius:.5rem;
    text-align: center;
    padding:2.5rem;
    
}

.icons i{
    color:var(--light-color);

    font-size:4.5rem;
    padding-bottom: .7rem;
}


.icons h3{
    font-size:4rem;
    padding-bottom: .7rem;
    text-shadow: var(--text-shadow);
}

.icons p{
    font-size:1.6rem;
    color:#777;
}

   /*!--icon  section end*/

   /*service section start*/
.services .box-container{
    display:grid;
    gap:2rem;
    grid-template-columns:repeat(auto-fit,minmax(30rem,1fr));
    padding:5rem;
}


.services .box-container .box{

        background:#fff;
        border:var(--border);
        box-shadow:var(--box-shadow);
        border-radius:.5rem;
        padding:2.5rem;
}


.heading{  /*setting our service line*/
      text-align:center;
      padding-bottom:2rem;
      text-shadow:var(--text-shadow);
      text-transform:uppercase;
       color:black;
      font-size:4.2rem;
      letter-spacing:0.4rem;
}

.heading span{
    text-transform:uppercase;
      color:var(--green)
}

.services .box-container .box i{
    color:var(--light-color);
    font-size:4.4rem;
    padding-bottom:0.5rem ;
}

.services .box-container .box h3{
    font-size:2.5rem;
    padding:1rem 0;
}

.services .box-container .box p{
    font-size:1.6rem;
    color:#777;
}




   /*service section end*/


   /*about section start */
.about .row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:2rem;

}


.about .row .image{
    flex:1 1 45rem; /*it helps to align image and content in row wise */
}

.about .row .image img{
    width:100%;
}



.about .row .content{
    flex:1 1 45rem;
}


.about .row .content h3{
    color:black;
    font-size:4rem;
    line-height: 1.8;
}


.about .row .content p{
    color:#777;
    padding:1rem 0;
}


   /*about section end */


   /*booking section start */
    
  .book .row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:2rem;
  }

  .book .row .image{
    flex:1 1 45rem;
  }

  
  .book .row .image img{
    width:100%;
  }

  .book .row form{
    flex:1 1 45rem;
    background-color:#f0f6f8 ;
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding:2rem;
    border-radius:0.5rem;
  }

  .book .row form  h3{
     color:#0885ae;
     padding-bottom: 1rem;
     font-size:3rem;

  }
  .book .row form .box{
    width:65%;
    margin:0.7rem 0;
    border:0.2rem solid #0f7c7c;
    color:#777;
    font-size:1.4rem;
    padding:0.5rem;
  }

  .book .row form  label{
    font-size:1.4rem; ;
    color:#777;
  }

  .book .row form  .gen{
    font-size: 1.6rem;
    color:#777;
    padding:1.5rem;
  }

  .bt{
    padding:1rem 2.5rem;
  }
   /*booking section end*/


   /*review section start*/

   .review .box-container{
    display:grid;
    gap:2rem;
    grid-template-columns:repeat(auto-fit,minmax(25rem,1fr));
    padding:5rem;
   }

   .review .box-container .box{
    background-color: #fff;
    border-radius:.5rem;
    box-shadow:var(--box-shadow);
    border:var(--border);
    padding:2.5rem;
    text-align:center;
    position:relative;
    overflow:hidden;
    z-index:0;
   }


   .review .box-container .box img{
    height:10rem;
    width:10rem;
    border:.5rem solid #fff;
    border-radius: 50%;/*image get round */
    object-fit:cover

   }

   .review .box-container .box .stars i{
    color:#0f7c7c;
    font-size:1.5rem;
   }
   .review .box-container .box h3{
      color:black;
      font-size:2.5rem;
      padding:4rem,0;
   }


   .review .box-container .box .text{
    color:#777;
    line-height: 1.8;
    font-size: 1.1rem;
    padding-top:4rem;
   }

   .review .box-container .box::before{
      content:'';
      position:absolute;
      top:-4rem; left:50%;

      transform: translateX(-50%);
      background:#dde8ec  ;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      height: 25rem;
      width:120%;
      z-index:-1;
   }



   /*review section end*/